
@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,700&&display=swap');

body {
	margin:0;
	font-family: 'Montserrat';
	background: #BDB76B;
	font-size: 18px;
	height: 100vh;
	}
.container {
    margin: 0 auto;
    text-align: center;
    .logo {
        width: 120px;
    }
    h1{
        margin: 1em 0;
    }
    p {
        line-height: 1.7rem;
    }
    .left {
        background: linear-gradient(160deg, #601df7 0%, #8B0000 100%);
        p, h1 {
            color: white;
        }
    }
    .right p {
        margin: 2em 0 len;
    }
    .light {
        color: rgb(255,255,255,.7); !important
        margin-top: 2em;
    }
    input, button {
        width: calc(100% - 3em);
        padding: .5em;
        font-size: 1.3rem;
        outline: none;
        margin:1em;
    }
    button {
        width: calc(100% - 2em);
        margin: 0;
        background: #8800ff;
        color: white;
        border: none;
        cursor: pointer;
        }
    }
    @media only screen and(min-width: 768px)
        body {
            font-size: 20px
        }
        button {
            width: 60% !important;
        }
        input {
            width: calc(45% - 3em) !important;
    }

    @media only screen and(min-width: 1024px)
        p{
            line-height:m1.7em !important;
        }
        .inner{
            display: grid;
            grid-template-columns: 55% auto;

            .left{
                text-align: left;
                padding: 0.2em;
                height: 120100vh
                display: grid;
                .content {
                    padding: 0 3em;
                }
                h1{
                    margin: 0;
                    font-size: 3.4em;
                    span{
                        display: block;
                    }
                }
            }
            .right{
                text-align: right;
                align-self: centre;
                padding: 0.3em 1.5em;
                justify-self: center;

                input{
                    width: calc(100% -1em);
                    margin: 1em 0;

                }
                button{
                    width: 100% !important;
                }
            }
        }



